accelerate==1.10.1
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
Automat==25.4.16
bcrypt==5.0.0
beautifulsoup4==4.13.5
blinker==1.9.0
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.7
cssselect==1.3.0
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
diffusers==0.35.1
distro==1.9.0
dnspython==2.8.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
fastapi==0.136.1
feedparser==6.0.12
ffmpeg-python==0.2.0
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.59.2
fsspec==2025.9.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
googlesearch-python==1.3.0
greenlet==3.2.4
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
huepy==1.2.1
huggingface-hub==0.34.4
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
incremental==24.7.2
iniconfig==2.1.0
instagrapi==2.2.1
itemadapter==0.12.2
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lxml==5.4.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mmh3==5.2.1
mock==5.2.0
motor==3.7.1
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
multidict==6.7.1
networkx==3.4.2
numpy==2.2.6
ollama==0.5.3
openai==1.101.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
parsel==1.10.0
passlib==1.7.4
pillow==11.3.0
playwright==1.55.0
playwright-stealth==2.0.3
plotly==6.3.0
pluggy==1.6.0
postgrest==2.29.0
proglog==0.1.12
propcache==0.4.1
Protego==0.5.0
proto-plus==1.26.1
protobuf==5.29.5
proxyproviders==0.2.1
psutil==7.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodomex==3.23.0
pydeck==0.9.1
PyDispatcher==2.0.7
pyee==13.0.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyiceberg==0.11.1
PyJWT==2.12.1
pymongo==4.17.0
PyMsgBox==2.0.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.9.0
PyRect==0.2.0
pyroaring==1.1.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.28
python-telegram-bot==22.5
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
PyYAML==6.0.2
queuelib==1.8.0
realtime==2.29.0
referencing==0.36.2
regex==2025.9.1
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
responses==0.25.8
rich==14.3.4
rpds-py==0.27.1
rsa==4.9.1
safetensors==0.6.2
schedule==1.2.2
Scrapy==2.13.3
selenium==4.35.0
service-identity==24.2.0
sgmllib3k==1.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
starlette==1.0.0
storage3==2.29.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.29.0
supabase-auth==2.29.0
supabase-functions==2.29.0
sympy==1.14.0
tenacity==9.1.2
TikTokApi==7.2.1
tldextract==5.3.0
tokenizers==0.22.0
toml==0.10.2
tomli==2.2.1
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
transformers==4.56.1
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
undetected-chromedriver==3.5.5
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.47.0
w3lib==2.3.1
watchdog==6.0.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wikipedia==1.4.0
wsproto==1.2.0
yarl==1.23.0
yt-dlp==2025.10.14
zipp==3.23.0
zope.interface==7.2
zstandard==0.25.0
httpx==0.27.0
pydantic==2.7.1
pydantic_core==2.18.2
